.header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    //background-color: #703B09;
    background: url('../../images/spectra_background.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;

    &__logo {
        height: 80%;
        width: 80%;
    }
}
